/LoginController.class
/RegisterController.class
/BookingDetailController.class
/CashierDashboardController.class
/CreateInvoiceController.class
/DashboardController.class
/HomeController.class
/InvoiceDetailController.class
/SceneSwitcher.class
