/* Thiết lập kiểu chữ cho các thành phần */
.root {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}

.text-field, .button {
    -fx-font-size: 14px;
}

.table-view {
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #45a049;
}

.table-view .table-column {
    -fx-font-weight: bold;
}

.table-view .table-row-cell:empty {
    -fx-background-color: transparent;
}
